.jumbotron h1 {
  text-align: center;
  color: goldenrod;
  font-family: 'MedievalSharp', cursive;
  text-shadow: 2px 5px 3px gold;
  font-size:100px;
}

.jumbotron h4 {
  text-align: center;
  color:white;
  font-family: 'Yatra One', cursive;
  text-shadow: 2px 2px 3px black;
  font-size: 30px;
}

.jumbotron {
  background-image: url(../img/shield.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}

body {
  background-color: black;
}

img {
  background-repeat: no-repeat fixed;
  background-position: absolute;
  opacity: 0.7;
  border-top: 3px dashed white;
}
